#logo {
  width: 10%;
  padding-top: 30px;
}

header {
  background-image: url(../img/pattern.png);
  background-color: rgb(40, 160, 200);
  width: 100%;
}

#the-booleaners {
  color: blue;
}

.prima-riga {
  width: 100%;
  background-color: deepskyblue;
  color: white;
  height: 20px;
}

.seconda-riga {
  background-color: lightblue;
  height: 30px;
  padding-top: 10px;
}
.terza-riga {
  padding-top: 15px;
  height: 30px;
}
.quarta-riga {
  background-color: lightblue;
  height: 30px;
  padding-top: 15px;
}
.testo-sinistra {
  width: 10%;
  display: inline-block;
}

.testo-destra {
  display: inline-block;
  width: 15%;
}

.tasto-lorem {
  width: 15%;
  display: inline-block;
  text-align: center;
}

.potrebbero-interessarti {
  color: grey;
  padding-top: 20px;
}

.monitor-img {
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
}
.grafico-img {
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
}
.monitor {
  color: white;
  padding-top: 15px;
  padding-bottom: 150px;
  padding-left: 15px;
  font-size: 20px;
}

.grafico {
  color: white;
  padding-top: 15px;
  padding-bottom: 150px;
  padding-left: 15px;
  font-size: 20px;
}
